<h1> Estrutura de Dados em Pandas </h1>
<br>
<br>
pandas.Series() - 1 Dimensão - 1D
<br>
pandas.DataFrame() - 2 Dimensões - 2D
<br>
pandas.Panel() - 3 Dimensões - 3D
<br>
numpy.ndarray() - n Dimensões

In [3]:
import pandas as pd
import numpy as np

<h2> Criando um DataFrame a partir de um Dicionário </h2>

In [8]:
USData = pd.DataFrame(np.array([[249.62 , 8900],
                              [282.16,12680],
                              [309.35,14940]]),
                      columns = ['População(M)','PIB($B)'],
                      index = [1995,2005,2015])

In [10]:
USData

      População(M)  PIB($B)
1995        249.62   8900.0
2005        282.16  12680.0
2015        309.35  14940.0

In [11]:
ChinaData = pd.DataFrame(np.array([[1133.68, 390.28],
                                 [1266.83,1198.48],
                                 [1339.72, 9923.47]]),
                       columns=['População(M)','PIB($B)'],
                       index=[1995,2005,2015])

In [12]:
ChinaData

      População(M)  PIB($B)
1995       1133.68   390.28
2005       1266.83  1198.48
2015       1339.72  9923.47

In [13]:
US_ChinaData = {'US' : USData, 'China' : ChinaData}

In [14]:
US_ChinaData

{'US':       População(M)  PIB($B)
 1995        249.62   8900.0
 2005        282.16  12680.0
 2015        309.35  14940.0,
 'China':       População(M)  PIB($B)
 1995       1133.68   390.28
 2005       1266.83  1198.48
 2015       1339.72  9923.47}