# Spark SQL
O Spark SQL é usado para acessar dados estruturados com Spark.

Acesse http://localhost:4040 sempre que quiser acompanhar a execução dos jobs.

## Spark SQL e RDD's

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql import Row

In [3]:
print(sc)

<SparkContext master=local[2] appName=PySparkShell>

In [16]:
# Spark Session - usada quando se trabalha com Dataframes no Spark
spSession = SparkSession.builder.master("local").appName("DSA-SparkSQL").config("spark.some.config.option", "some-value").getOrCreate()

In [5]:
# Criando o SQL Context para trabalhar com Spark SQL
sqlContext = SQLContext(sc)

/home/lucas/spark-3.3.0-bin-hadoop3/python/pyspark/sql/context.py:114: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning,

In [6]:
# Importando o arquivo e criando um RDD
linhasRDD1 = sc.textFile("carros.csv")

In [7]:
linhasRDD1.count()

198

In [9]:
# Removendo a primeira linha - Transformação 1
linhasRDD2 = linhasRDD1.filter(lambda x: "FUELTYPE" not in x)

In [10]:
linhasRDD2.count()

197

In [11]:
# Dividindo o conjunto de dados em colunas - Transformação 2
linhasRDD3 = linhasRDD2.map(lambda line: line.split(","))

In [12]:
# Dividindo o conjunto de dados em colunas - Transformação 3
linhasRDD4 = linhasRDD3.map(lambda p: Row(make = p[0], body = p[4], hp = int(p[7])))

In [13]:
linhasRDD4.collect()

[Row(make='subaru', body='hatchback', hp=69),
 Row(make='chevrolet', body='hatchback', hp=48),
 Row(make='mazda', body='hatchback', hp=68),
 Row(make='toyota', body='hatchback', hp=62),
 Row(make='mitsubishi', body='hatchback', hp=68),
 Row(make='honda', body='hatchback', hp=60),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='dodge', body='hatchback', hp=68),
 Row(make='plymouth', body='hatchback', hp=68),
 Row(make='mazda', body='hatchback', hp=68),
 Row(make='mitsubishi', body='hatchback', hp=68),
 Row(make='dodge', body='hatchback', hp=68),
 Row(make='plymouth', body='hatchback', hp=68),
 Row(make='chevrolet', body='hatchback', hp=70),
 Row(make='toyota', body='hatchback', hp=62),
 Row(make='dodge', body='hatchback', hp=68),
 Row(make='honda', body='hatchback', hp=58),
 Row(make='toyota', body='hatchback', hp=62),
 Row(make='honda', body='hatchback', hp=76),
 Row(make='chevrolet', body='sedan', hp=70),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='mitsubishi', body='hatchback', hp=68),
 Row(make='dodge', body='sedan', hp=68),
 Row(make='plymouth', body='sedan', hp=68),
 Row(make='mazda', body='sedan', hp=68),
 Row(make='isuzu', body='sedan', hp=78),
 Row(make='mazda', body='hatchback', hp=68),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='honda', body='hatchback', hp=76),
 Row(make='toyota', body='wagon', hp=62),
 Row(make='toyota', body='sedan', hp=70),
 Row(make='mitsubishi', body='sedan', hp=88),
 Row(make='subaru', body='hatchback', hp=73),
 Row(make='nissan', body='sedan', hp=55),
 Row(make='subaru', body='sedan', hp=82),
 Row(make='honda', body='hatchback', hp=76),
 Row(make='toyota', body='hatchback', hp=70),
 Row(make='honda', body='sedan', hp=76),
 Row(make='honda', body='wagon', hp=76),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='nissan', body='wagon', hp=69),
 Row(make='mazda', body='sedan', hp=68),
 Row(make='subaru', body='wagon', hp=82),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='subaru', body='hatchback', hp=73),
 Row(make='dodge', body='sedan', hp=68),
 Row(make='plymouth', body='sedan', hp=68),
 Row(make='mitsubishi', body='hatchback', hp=102),
 Row(make='toyota', body='sedan', hp=70),
 Row(make='subaru', body='sedan', hp=82),
 Row(make='volkswagen', body='sedan', hp=52),
 Row(make='toyota', body='hatchback', hp=56),
 Row(make='nissan', body='hatchback', hp=69),
 Row(make='honda', body='hatchback', hp=86),
 Row(make='toyota', body='wagon', hp=62),
 Row(make='toyota', body='sedan', hp=56),
 Row(make='dodge', body='hatchback', hp=102),
 Row(make='plymouth', body='hatchback', hp=102),
 Row(make='volkswagen', body='sedan', hp=85),
 Row(make='volkswagen', body='sedan', hp=52),
 Row(make='nissan', body='wagon', hp=69),
 Row(make='subaru', body='wagon', hp=82),
 Row(make='toyota', body='sedan', hp=70),
 Row(make='mitsubishi', body='sedan', hp=88),
 Row(make='volkswagen', body='sedan', hp=85),
 Row(make='toyota', body='hatchback', hp=70),
 Row(make='nissan', body='hardtop', hp=69),
 Row(make='toyota', body='hatchback', hp=70),
 Row(make='toyota', body='hardtop', hp=116),
 Row(make='mazda', body='sedan', hp=84),
 Row(make='volkswagen', body='sedan', hp=85),
 Row(make='mitsubishi', body='hatchback', hp=88),
 Row(make='toyota', body='wagon', hp=62),
 Row(make='honda', body='sedan', hp=86),
 Row(make='mazda', body='hatchback', hp=84),
 Row(make='dodge', body='wagon', hp=88),
 Row(make='plymouth', body='wagon', hp=88),
 Row(make='toyota', body='sedan', hp=92),
 Row(make='nissan', body='hatchback', hp=97),
 Row(make='honda', body='hatchback', hp=86),
 Row(make='subaru', body='sedan', hp=82),
 Row(make='toyota', body='sedan', hp=70),
 Row(make='mitsubishi', body='sedan', hp=116),
 Row(make='mitsubishi', body='sedan', hp=116),
 Row(make='toyota', body='sedan', hp=112),
 Row(make='volkswagen', body='sedan', hp=68),
 Row(make='toyota', body='hatchback', hp=112),
 Row(make='nissan', body='sedan', hp=97),
 Row(make='toyota', body='hardtop', hp=116),
 Row(make='mitsubishi', body='hatchback', hp=116),
 Row(make='subaru', body='sedan', hp=94),
 Row(make='volkswagen', body='hatchback', hp=90),
 Row(make='toyota', body='hatchback', hp=92),
 Row(make='toyota', body='hatchback', hp=116),
 Row(make='volkswagen', body='sedan', hp=100),
 Row(make='subaru', body='wagon', hp=94),
 Row(make='mazda', body='sedan', hp=84),
 Row(make='honda', body='sedan', hp=86),
 Row(make='honda', body='sedan', hp=100),
 Row(make='mazda', body='hatchback', hp=84),
 Row(make='toyota', body='sedan', hp=73),
 Row(make='toyota', body='sedan', hp=92),
 Row(make='mazda', body='hatchback', hp=101),
 Row(make='isuzu', body='hatchback', hp=90),
 Row(make='toyota', body='hardtop', hp=116),
 Row(make='mazda', body='hatchback', hp=84),
 Row(make='toyota', body='hatchback', hp=92),
 Row(make='subaru', body='sedan', hp=111),
 Row(make='toyota', body='hatchback', hp=116),
 Row(make='volkswagen', body='convertible', hp=90),
 Row(make='subaru', body='wagon', hp=111),
 Row(make='mazda', body='hatchback', hp=101),
 Row(make='saab', body='hatchback', hp=110),
 Row(make='peugot', body='sedan', hp=97),
 Row(make='saab', body='sedan', hp=110),
 Row(make='volkswagen', body='wagon', hp=88),
 Row(make='peugot', body='wagon', hp=97),
 Row(make='mitsubishi', body='hatchback', hp=145),
 Row(make='plymouth', body='hatchback', hp=145),
 Row(make='volvo', body='sedan', hp=114),
 Row(make='honda', body='sedan', hp=101),
 Row(make='dodge', body='hatchback', hp=145),
 Row(make='peugot', body='sedan', hp=95),
 Row(make='volkswagen', body='sedan', hp=110),
 Row(make='volvo', body='wagon', hp=114),
 Row(make='alfa-romero', body='convertible', hp=111),
 Row(make='nissan', body='sedan', hp=152),
 Row(make='nissan', body='sedan', hp=152),
 Row(make='mazda', body='hatchback', hp=101),
 Row(make='volkswagen', body='sedan', hp=68),
 Row(make='peugot', body='wagon', hp=95),
 Row(make='audi', body='sedan', hp=102),
 Row(make='nissan', body='wagon', hp=152),
 Row(make='mitsubishi', body='hatchback', hp=145),
 Row(make='mitsubishi', body='hatchback', hp=145),
 Row(make='saab', body='hatchback', hp=110),
 Row(make='audi', body='sedan', hp=110),
 Row(make='saab', body='sedan', hp=110),
 Row(make='peugot', body='sedan', hp=95),
 Row(make='mazda', body='hatchback', hp=135),
 Row(make='toyota', body='sedan', hp=156),
 Row(make='toyota', body='wagon', hp=156),
 Row(make='volvo', body='sedan', hp=114),
 Row(make='toyota', body='hatchback', hp=161),
 Row(make='bmw', body='sedan', hp=101),
 Row(make='alfa-romero', body='convertible', hp=111),
 Row(make='alfa-romero', body='hatchback', hp=154),
 Row(make='mercury', body='hatchback', hp=175),
 Row(make='volvo', body='wagon', hp=114),
 Row(make='toyota', body='hatchback', hp=161),
 Row(make='peugot', body='sedan', hp=97),
 Row(make='peugot', body='wagon', hp=95),
 Row(make='volvo', body='sedan', hp=114),
 Row(make='peugot', body='sedan', hp=95),
 Row(make='bmw', body='sedan', hp=101),
 Row(make='peugot', body='wagon', hp=95),
 Row(make='nissan', body='hatchback', hp=160),
 Row(make='audi', body='sedan', hp=115),
 Row(make='toyota', body='convertible', hp=116),
 Row(make='audi', body='sedan', hp=110),
 Row(make='peugot', body='sedan', hp=95),
 Row(make='peugot', body='sedan', hp=142),
 Row(make='saab', body='hatchback', hp=160),
 Row(make='mazda', body='sedan', hp=120),
 Row(make='mazda', body='sedan', hp=72),
 Row(make='nissan', body='hatchback', hp=160),
 Row(make='volvo', body='sedan', hp=162),
 Row(make='saab', body='sedan', hp=160),
 Row(make='audi', body='wagon', hp=110),
 Row(make='volvo', body='wagon', hp=162),
 Row(make='volvo', body='sedan', hp=160),
 Row(make='nissan', body='hatchback', hp=200),
 Row(make='bmw', body='sedan', hp=121),
 Row(make='bmw', body='sedan', hp=121),
 Row(make='volvo', body='sedan', hp=134),
 Row(make='porsche', body='hatchback', hp=143),
 Row(make='volvo', body='sedan', hp=106),
 Row(make='volvo', body='sedan', hp=114),
 Row(make='audi', body='sedan', hp=140),
 Row(make='bmw', body='sedan', hp=121),
 Row(make='mercedes-benz', body='sedan', hp=123),
 Row(make='mercedes-benz', body='hardtop', hp=123),
 Row(make='mercedes-benz', body='wagon', hp=123),
 Row(make='bmw', body='sedan', hp=182),
 Row(make='mercedes-benz', body='sedan', hp=123),
 Row(make='jaguar', body='sedan', hp=176),
 Row(make='porsche', body='hardtop', hp=207),
 Row(make='porsche', body='hardtop', hp=207),
 Row(make='mercedes-benz', body='sedan', hp=155),
 Row(make='mercedes-benz', body='convertible', hp=155),
 Row(make='jaguar', body='sedan', hp=176),
 Row(make='jaguar', body='sedan', hp=262),
 Row(make='bmw', body='sedan', hp=182),
 Row(make='porsche', body='convertible', hp=207),
 Row(make='mercedes-benz', body='sedan', hp=184),
 Row(make='bmw', body='sedan', hp=182),
 Row(make='mercedes-benz', body='hardtop', hp=184)]

In [17]:
# Criando um dataframe a partir do RDD
df = spSession.createDataFrame(linhasRDD4)

In [18]:
df.show()

+----------+---------+---+
|      make|     body| hp|
+----------+---------+---+
|    subaru|hatchback| 69|
| chevrolet|hatchback| 48|
|     mazda|hatchback| 68|
|    toyota|hatchback| 62|
|mitsubishi|hatchback| 68|
|     honda|hatchback| 60|
|    nissan|    sedan| 69|
|     dodge|hatchback| 68|
|  plymouth|hatchback| 68|
|     mazda|hatchback| 68|
|mitsubishi|hatchback| 68|
|     dodge|hatchback| 68|
|  plymouth|hatchback| 68|
| chevrolet|hatchback| 70|
|    toyota|hatchback| 62|
|     dodge|hatchback| 68|
|     honda|hatchback| 58|
|    toyota|hatchback| 62|
|     honda|hatchback| 76|
| chevrolet|    sedan| 70|
+----------+---------+---+
only showing top 20 rows